<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>START</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/examples/cover/cover.css">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">

    <header class="masthead mb-auto" th:insert="blocks/header :: header"></header>

    <img class="mb-4 mx-auto" src="http://static.tildacdn.com/tild6562-6266-4239-b564-623035633462/ITHUB_COLLEGE-03.png" alt="" width="150" height="110">
    <h3>Данный проект создан для автоматизации составления расписания.</h3>

    <a href="/forma" class="btn btn-lg btn-secondary mt-5">Начать</a>


    <div class="mastfoot mt-auto" th:insert="blocks/footer :: footer"></div>

</div>
</body>
</html>